<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <!-- xmlns:padding="http://www.w3.org/1999/xhtml" xmlns:padding="http://www.w3.org/1999/xhtml">-->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">




<!-- Navigatiebarbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-card" id="myNavbar">
    <a th:href="@{index}" >BACK TO HOMEPAGE</a>
    <!-- Right-sided navbar links (rechterkant navigatiebar)-->
    <div class="w3-right w3-hide-small">
     


  </div> 
</header>

<!-- COVID-19 Pagina  -->
 <div class="w3-container w3-light-grey"  id="covid-19">

  <h3 class="w3-center">COVID-19 UPDATES</h3>
  
 
<h3 class="w3-large">De onderstaande klachten zijn gemeld bij COVID-19 patiënten (symptomen):<br><br>
Koorts,   Koude rillingen, Hoesten, Neusverkoudheid, Kortademigheid, Schorre stem, Keelpijn, Spierpijnen, Pijn bij de ademhaling,<br>
Algemene malaise, Vermoeidheid, Algemene pijnklachten, Oculaire pijn (met name pijn achter de ogen), Hoofdpijn, Duizeligheid<br>
Prikkelbaarheid/ verwardheid/ delier, Buikpijn, anorexie/verlies van eetlust, Diarree, Overgeven, Misselijkheid,<br>
Verlies van of verminderde reukzin (hyposmie/anosmie) en smaakzin (dysgeusie/ageusie), Conjunctivitis en verschillende huidafwijkingen.</h3><br>

<h3 class="w3-large"> De algemene maatregelen: <br><br>
- Het dragen van mond- en neusbedekking buiten het eigen huis is verplicht, met name bij het betreden van ruimten.<br>
- Neem de 1,5 meter fysieke afstand, de zogeheten COVID19-afstand altijd in acht.<br>
- Was regelmatig uw handen met zeep en water of gebruik een handsanitizer.<br>
- Het wordt nog steeds dringend geadviseerd om thuis te blijven en slechts voor noodzakelijke werkzaamheden uit huis te gaan.</h3><br>

 <h3 class="w3-center w3-large">Door corona en de maatregelen is het niet altijd verstandig dat u naar de praktijk komt vooral als u bepaalde symptomen vertoont van het COVID-19 virus.<br>
 U kunt de huisarts telefoonisch raadplegen. De huisarts overlegt met u wat in uw situatie het beste is.</h3><br>   
  <div class="w3-row-padding w3-right" style="margin-top:64px">
  </div>
  </div>
</div>
</div>